html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.main-heading {
  margin-top: 0;
  margin-bottom: 40px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  margin-top: 0;
  margin-bottom: 40px;
  width: 872px;
}

.gray-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.gray-box:not(:last-child) {
  margin-bottom: 40px;
}

.gray-box .text {
  width: 692px;
  margin-bottom: 10px;
}

.list {
  padding-left: 15px;
}
/* list-item */
.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.image {
  margin-bottom: 40px;
}

.image-wrap {
  margin: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}
